.forecast-chip {
    flex : 1;
    height: 150px;
    background-color: brown;
    //Font identified with https://www.fontsquirrel.com/matcherator
}

*{
    font-family : Raleway, sans-serif;
}

#primary-view{
    background-color: #1d2139;
    height: 100vh;
}

.contrasted-txt{
    color : #000;
}

.unit-button{
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 32px;
    margin: 10px;
    float: right;
}

.detail-box{
    background-color: red;
    margin: 5px;
    height: 20vh;//15
}