<div class="container-fluid" *ngIf="weatherData">
  <div class="row">
    <section id="primary-view">
      <header>
        <input type="text" placeholder="Search for Places" (change)="searchLocation($event.target)" />
        <button id="user-location" class="btn-circle" (click)="getCurrentLocationWeather()">
          <mat-icon aria-label="get-location" fontIcon="gps_fixed"></mat-icon>
        </button>
      </header>
      <div *ngIf="searchMode; else mainView">
        <ul>
          <li *ngFor="let location of locationQuery; index as i">
            <button (click)="selectLocation(i)">{{ location.EnglishName }}, {{ location.AdministrativeArea.EnglishName
              }}, {{
              location.Country.EnglishName }}</button>
          </li>
        </ul>
        <p style="margin: 0 40px;" *ngIf="0 === locationQuery?.length">No locations matching your keyword has been
          found. Please try a
          different keyword.</p>
      </div>
      <ng-template #mainView>
        <div style="height: 40vh; text-align: center;">
          <div
            style="position: relative; top: - 40vh; opacity: 0.1;background-image: url('../assets/img/Clouds.png'); background-size: auto 100%; background-position: center; height: 100%; width: 100%;">
          </div>
          <img [src]="conditionIcon" style="height : 20vh; position: relative; top : -30vh;">
        </div>
        <div style="height: 25vh; text-align: center; vertical-align: middle; line-height: 20vh">
          <span style="font-size: 96px;">{{ weatherData[0].Temperature[unitType].Value }}</span>
          <span style="font-size: 48px;">°{{ weatherData[0].Temperature[unitType].Unit }}</span>
        </div>
        <div style="height: 10vh; text-align: center; vertical-align: middle;">
          <span style="font-size: 24px;">{{ weatherData[0].WeatherText }}</span>
        </div>
        <div style="height: 7vh; text-align: center;" class="secondary-text">
          Today&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;{{ selectedDate | date:'EEE, d MMM' }}
        </div>
        <footer style="height: 7vh; text-align: center;" class="secondary-text">
          <mat-icon fontIcon="place" aria-hidden="true" class="inline-icon"></mat-icon>{{ selectedLocation.EnglishName }}, {{
          selectedLocation.Country.EnglishName }}
        </footer>
      </ng-template>

    </section>
    <section id="secondary-view">
      <div id="unit-selector" style="height: 10vh;">
        <button class="unit-button float-end" (click)="setMeasurementSys('Metric')"
          [ngClass]="{ 'selected-measurement' : 'Metric' === unitType }">°C</button>
        <button class="unit-button" (click)="setMeasurementSys('Imperial')"
          [ngClass]="{ 'selected-measurement' : 'Imperial' === unitType }">°F</button>
      </div>
      <div id="forecast" class="row">
        <div *ngFor="let dayF of forecast; first as isTomo" class="forecast-chip">
          <app-forecast-chip [forecastSummary]="dayF" [measurementSystem]="unitType" [isTomorrow]="isTomo">
          </app-forecast-chip>
        </div>
      </div>
      <h2>Today's Highlights</h2>
      <div id="today-highlights">
        <div class="row">
          <div class="detail-box">
            <h5>Wind Status</h5>
            <span class="value-display">
              {{ weatherData[0].Wind.Speed[unitType].Value }}
            </span>
            <span class="unit-display">
              {{ weatherData[0].Wind.Speed[unitType].Unit }}
            </span>
            <div id="wind-direction">
              <mat-icon aria-label="wind-direction" fontIcon="navigation" class="inline-icon" [style.transform]="'rotate(' + weatherData[0].Wind.Direction.Degrees + 'deg)'"></mat-icon>
              <span class="cdk-visually-hidden">{{ weatherData[0].Wind.Direction.Degrees }}</span>
              {{ weatherData[0].Wind.Direction.English }}
            </div>
          </div>
          <div class="detail-box">
            <h5>Humidity</h5>
            <span style="font-size: 48px;">{{ weatherData[0].RelativeHumidity }}</span>
            <span style="font-size: 32px;">%</span>
            <div id="humidity-scale">
              <div class="scale">
                <span>0</span>
                <span>50</span>
                <span>100</span>
              </div>
              <div class="bar">
                <div class="full-bar"></div>
                <div class="value-bar" [ngStyle]="{ 'width.%' : weatherData[0].RelativeHumidity * 0.8 }"></div>
              </div>
              <div style="text-align: right; margin-right: 10%;">
                <span>%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="detail-box">
            <h5>Visibility</h5>
            <span style="font-size: 48px;">
              {{ weatherData[0].Visibility[unitType].Value }}</span>
            <span style="font-size: 32px;">&nbsp;{{ weatherData[0].Visibility[unitType].Unit }}</span>
          </div>
          <div class="detail-box">
            <h5>Air Pressure</h5>
            <span style="font-size: 48px;">
              {{ weatherData[0].Pressure[unitType].Value | number:'1.0-1' }}</span>
            <span style="font-size: 32px;">&nbsp;{{ weatherData[0].Pressure[unitType].Unit }}</span>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>