@import '../app/@theme/theme.scss';

* {
    //Font identified with https://www.fontsquirrel.com/matcherator
    font-family: Raleway, sans-serif;
}

#primary-view {
    background-color: $primary-bg-color;
    height: 100vh;
}

#secondary-view {
    padding: 0 5%;
}

.contrasted-txt {
    color: #000;
}

header {
    height: 10vh;
    padding: 0 40px;
}

header>input,
header>button {
    margin-top: 5vh;
}

.unit-button {
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 32px;
    margin: 10px;
    float: right;
    opacity: 0.5;
}

.unit-button.selected-measurement {
    background-color: aliceblue;
    font-weight: bold;
    opacity: 1;
}

.detail-box {
    flex: 1;
    background-color: $primary-bg-color;
    min-height: 20vh; //15
    text-align: center;
}

.value-display {
    font-size: 48px;
}

.unit-display {
    font-size: 32px;
}

div#today-highlights>div.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

section {
    padding: 0;
}

#user-location {
    border-radius: 100px;
    float: right;
}

h3 {
    font-size: 96px;
    font-weight: 500;
}

input {
    background-color: $secondary-text-color;
    color: $primary-text-color;
    border: 0;
    padding: 10px 20px;
}

#clouds-background {
    position: relative;
    opacity: 0.1;
    background-image: url('../assets/img/Clouds.png');
    background-size: auto 100%;
    background-position: center;
    height: 100%;
    width: 100%;
}

#current-condition-icon {
    height: 20vh;
    position: relative;
    top: -30vh;
}

#forecast {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10vh;
}

.forecast-chip {
    flex: 1;
    min-width: 150px;
    background-color: $primary-bg-color;
    text-align: center;
    padding: 10px 5px;
}

.forecast-chip:last-child {
    //to be improved for horizontal view and tabs
    max-width: calc(50% - 5px);
}

ul {
    list-style-type: none;
}

#wind-direction {
    margin: 30px 0;
}

mat-icon[fontIcon="navigation"] {
    background-color: $secondary-text-color;
    border-radius: 500px;
    padding: 1px;
    color: $primary-bg-color;
}

#humidity-scale {
    margin: 1rem 0;
    color: $secondary-text-color;
}

#humidity-scale>.scale {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#humidity-scale>.bar>.full-bar {
    width: 80%;
    height: 5px;
    background-color: $secondary-text-color;
    margin: 3px auto;
    border-radius: 50px;
}

#humidity-scale>.bar>.value-bar {
    height: 5px;
    background-color: #ffed64;
    margin: 3px 0 3px 10%;
    margin-top: -8px;
    position: relative;
    border-radius: 50px;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50px;
    text-align: center;
    font-size: 12px;
    line-height: 1;
}

#not-found-msg {
    margin: 0 40px;
}

.cdk-visually-hidden {
    display: none;
}

.secondary-text {
    color: $secondary-text-color;
}

@media only screen and (min-width: 992px) {
    #primary-view {
        width: 30%;
    }

    #secondary-view {
        padding: 0;
        width: 60%;
        margin: 0 5%;
    }

    .detail-box {
        flex: 1;
    }

    div#today-highlights div.row {
        flex-direction: row;
    }
}