<div class="container-fluid" *ngIf="weatherData">
  <div class="row">
    <section id="primary-view">
      <header>
        <input #searchBox id="search-box" placeholder="Search for Places" (change)="searchLocation()"
          (keyup)="switchMode()" />
        <button id="user-location" class="btn-circle" (click)="getCurrentLocationWeather()">
          <mat-icon aria-label="get-location" fontIcon="gps_fixed"></mat-icon>
        </button>
      </header>
      <div id="search-view" *ngIf="searchMode; else mainView">
        <ul>
          <li *ngFor="let location of locationQuery; index as i">
            <button class="location-select" (click)="selectLocation(i)">
              <mat-icon fontIcon="place" aria-hidden="true">&nbsp;</mat-icon>{{ location.EnglishName }}, {{
              location.AdministrativeArea.EnglishName
              }}, {{
              location.Country.EnglishName }}
            </button>
          </li>
        </ul>
        <p id="not-found-msg" *ngIf="0 === locationQuery?.length || null === locationQuery">
          No locations matching your keyword have been found. Please try a different keyword.</p>

        <p id="not-found-msg" *ngIf="undefined === locationQuery">
          Press <strong>Enter</strong> to search</p>
      </div>
      <ng-template #mainView>
        <div style="height: 40vh; text-align: center;">
          <div id="clouds-background"></div>
          <img id="current-condition-icon" [src]="conditionIcon">
        </div>
        <div style="height: 25%; text-align: center; line-height: 20vh">
          <span class="main-display">{{ weatherData.Temperature[unitType].Value }}</span>
          <span class="secondary-display">°{{ weatherData.Temperature[unitType].Unit }}</span>
        </div>
        <div style="height: 10%; text-align: center; vertical-align: middle;">
          <span class="minor-display">{{ weatherData.WeatherText | titlecase }}</span>
        </div>
        <div style="height: 7%; text-align: center;" class="secondary-text">
          Today&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;{{ selectedDate | date:'EEE, d MMM' }}
        </div>
        <footer style="height: 7%; text-align: center;" class="secondary-text">
          <mat-icon fontIcon="place" aria-hidden="true" class="inline-icon"></mat-icon>{{ selectedLocation.EnglishName
          }}, {{
          selectedLocation.Country.EnglishName }}
        </footer>
      </ng-template>

    </section>
    <section id="secondary-view">
      <div id="unit-selector" style="height: 10vh;">
        <button class="unit-button float-end" (click)="setMeasurementSys('Metric')"
          [ngClass]="{ 'selected-measurement' : 'Metric' === unitType }">°C</button>
        <button class="unit-button" (click)="setMeasurementSys('Imperial')"
          [ngClass]="{ 'selected-measurement' : 'Imperial' === unitType }">°F</button>
      </div>
      <div id="forecast" class="row">
        <div *ngFor="let dayF of forecast; first as isTomo" class="forecast-chip">
          <app-forecast-chip [forecastSummary]="dayF" [measurementSystem]="unitType" [attr.isTomorrow]="isTomo">
          </app-forecast-chip>
        </div>
      </div>
      <h2>Today's Highlights</h2>
      <div id="today-highlights">
        <div class="row">
          <div class="detail-box">
            <h5>Wind Status</h5>
            <span class="value-display">
              {{ weatherData.Wind.Speed[unitType].Value }}
            </span>
            <span class="unit-display">
              {{ weatherData.Wind.Speed[unitType].Unit | speedUnit:'p' }}
            </span>
            <div id="wind-direction">
              <mat-icon aria-label="wind-direction" fontIcon="navigation" class="inline-icon"
                [style.transform]="'rotate(' + weatherData.Wind.Direction.Degrees + 'deg)'"></mat-icon>
              <span class="cdk-visually-hidden">{{ weatherData.Wind.Direction.Degrees }}</span>
              <span class="secondary-text">{{ weatherData.Wind.Direction.English }}</span>
            </div>
          </div>
          <div class="detail-box">
            <h5>Humidity</h5>
            <span class="value-display">{{ weatherData.RelativeHumidity }}</span>
            <span class="unit-display">%</span>
            <div id="humidity-scale">
              <div class="scale">
                <span>0</span>
                <span>50</span>
                <span>100</span>
              </div>
              <div class="bar">
                <div class="full-bar"></div>
                <div class="value-bar" [ngStyle]="{ 'width.%' : weatherData.RelativeHumidity * 0.8 }"></div>
              </div>
              <div id="scale-unit">
                <span>%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="detail-box">
            <h5>Visibility</h5>
            <span class="value-display">
              {{ weatherData.Visibility[unitType].Value }}</span>
            <span class="unit-display">&nbsp;{{ weatherData.Visibility[unitType].Unit | distanceUnit }}</span>
          </div>
          <div class="detail-box">
            <h5>Air Pressure</h5>
            <span class="value-display">
              {{ weatherData.Pressure[unitType].Value | number:'1.0-1' }}</span>
            <span class="unit-display">&nbsp;{{ weatherData.Pressure[unitType].Unit }}</span>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>