@import '../app/@theme/_theme.scss';

* {
    //Font identified with https://www.fontsquirrel.com/matcherator
    font-family: Raleway, sans-serif;
}

header {
    height: 10vh;
    padding: 0 40px;
}

header>input,
header>button {
    margin-top: 5vh;
}

section {
    padding: 0;
}

input {
    background-color: $secondary-text-color;
    color: $primary-text-color;
    border: 0;
    padding: 10px 20px;
}

ul {
    list-style-type: none;
}

#primary-view {
    background-color: $primary-bg-color;
    min-height: 100vh;
}

#secondary-view {
    padding: 0 5%;
}

div#today-highlights>div.row {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    margin-bottom: 10px;
}

#user-location {
    border-radius: 100px;
    float: right;
}

#clouds-background {
    position: relative;
    opacity: 0.1;
    background-image: url('../assets/img/Clouds.png');
    background-size: auto 100%;
    background-position: center;
    height: 100%;
    width: 100%;
}

#current-condition-icon {
    height: 20vh;
    position: relative;
    top: -30vh;
}

#forecast {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 10vh;
}

#search-box {
    width: 66%;
}

.unit-button {
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 32px;
    margin: 10px;
    float: right;
    opacity: 0.5;
}

.unit-button.selected-measurement {
    background-color: aliceblue;
    font-weight: bold;
    opacity: 1;
    width: 35px;
    height: 35px;
    top: -2px;
    right: -2px;
    position: relative;
}

.detail-box {
    flex: 1;
    background-color: $primary-bg-color;
    min-height: 20vh; //15
    text-align: center;
}

.value-display {
    font-size: 48px;
}

.unit-display {
    font-size: 32px;
}

.forecast-chip {
    min-width: 120px;
    background-color: $primary-bg-color;
    text-align: center;
    padding: 10px 5px;
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.08);
    }
}

#wind-direction {
    margin: 30px 0;
}

mat-icon[fontIcon="navigation"] {
    background-color: $secondary-text-color;
    border-radius: 500px;
    padding: 1px;
    color: $primary-bg-color;
}

#humidity-scale {
    margin: 1rem 0;
    color: $secondary-text-color;
}

#humidity-scale>.scale {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#humidity-scale>.bar {
    .value-bar {
        height: 5px;
        background-color: #ffed64;
        margin: 3px 0 3px 10%;
        margin-top: -8px;
        position: relative;
        border-radius: 50px;
    }

    .full-bar {
        width: 80%;
        height: 5px;
        background-color: $secondary-text-color;
        margin: 3px auto;
        border-radius: 50px;
    }
}


.btn-circle {
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50px;
    text-align: center;
    font-size: 12px;
    line-height: 1;
}

#not-found-msg {
    margin: 0 40px;
}

.cdk-visually-hidden {
    display: none;
}

.secondary-text {
    color: $secondary-text-color;
}

button.location-select {
    padding: 10px 6px;
    width: 80%;
    text-align: left;
    margin-bottom: 5px;
    background-color: $secondary-text-color;
    border-radius: 5px;
}

#search-view {
    max-height: 80vh;
    overflow-y: scroll;
}

#scale-unit {
    text-align: right;
    margin-right: 10%;
}

.main-display {
    font-size: 96px;
}

.secondary-display {
    font-size: 48px;
}

.minor-display {
    font-size: 24px;
}

@media only screen and (min-width: 992px) {
    #primary-view {
        width: 30%;
    }

    #secondary-view {
        padding: 0;
        width: 60%;
        margin: 0 5%;
    }

    .detail-box {
        flex: 1;
    }

    div#today-highlights div.row {
        flex-direction: row;
    }

    #forecast {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    #forecast {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(5, 1fr);
    }
}