@import 'bootstrap/dist/css/bootstrap-grid.min.css';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import './app/@theme/theme.scss';

//Font identified with https://www.fontsquirrel.com/matcherator
@font-face {
    font-family: Raleway;
    src: url(assets/fonts/Raleway-Regular.ttf) format("opentype");
}

.material-icons {
    font-family: 'Material Icons' !important;
}

body {
    padding: 0;
    margin: 0;
    background-color: #0f0c1c;
    color: $primary-text-color;
}

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

.secondary-text {
    color: $secondary-text-color;
}

.inline-icon {
    position: relative;
    top: 0.5rem;
    margin: 0 5px;
}

/*Custom scrollbar for webkit browsers*/
// Search for weather in York to see application
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: $primary-bg-color
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*End of custom scrollbar*/

::placeholder {
    color: $primary-text-color;
}
:-ms-input-placeholder {
    color: $primary-text-color;
}
::-ms-input-placeholder {
    color: $primary-text-color;
}