@import 'bootstrap/dist/css/bootstrap-grid.min.css';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import './app/@theme/theme.scss';

//Font identified with https://www.fontsquirrel.com/matcherator
@font-face {
    font-family: Raleway;
    src: url(assets/fonts/Raleway-Regular.ttf) format("opentype");
}

.material-icons{
    font-family: 'Material Icons' !important;
}

body{
    padding: 0;
    margin: 0;
    background-color : #0f0c1c;
    color : $primary-text-color;
}

.container-fluid{
    padding: 0;
}

.row {
    margin: 0;
}

.secondary-text{
    color: $secondary-text-color;
}

$grid-gutter-width: 2rem !default;
